@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; }

body {
  background: #17181C; }

body::-webkit-scrollbar {
  width: 25px;
  transition: .4s all;
  border-radius: 10px;
  background: #17181C; }

body::-webkit-scrollbar-thumb {
  background: #FA4753;
  height: 30%;
  border-radius: 20px;
  transition: 1s all;
  border: solid 8px #17181c; }

body::-webkit-scrollbar-thumb:hover {
  background-color: #881F26; }

header {
  border-bottom: solid #FA4753; }

nav ul {
  display: inline-flex;
  justify-content: center; }
  nav ul h1 {
    display: inline-flex;
    align-items: center;
    color: white;
    margin: 35px 20px; }
    nav ul h1 aside {
      margin: 10px;
      color: #FA4753; }

nav li {
  color: white;
  text-decoration: none;
  list-style-type: none;
  border-radius: 20px;
  transition: .4s all; }
  nav li a {
    text-decoration: none;
    color: white;
    display: flex;
    padding: 32px 40px;
    font-weight: bold;
    margin: 18px 48px;
    transition: .4s all;
    border-radius: 20px; }

nav a:hover {
  background: #FA4753;
  transform: scale(1.05);
  box-shadow: 0 0 10px #FA4753, 0 0 40px #FA4753, 0 0 80px #FA4753;
  color: #17181c; }

nav a:active {
  transform: scale(1); }

nav li:nth-child(4) {
  display: flex;
  justify-content: end; }

.nav-search {
  padding: 20px 20px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; }
  .nav-search input {
    margin: auto;
    text-align-last: center;
    padding: 8px 0px;
    background: none;
    color: white;
    border-radius: 11px;
    font-size: initial;
    font-weight: bold;
    border: solid #FA4753;
    transition: .5s all; }
  .nav-search input:focus {
    box-shadow: 0 0 10px #FA4753, 0 0 20px #FA4753, 0 0 20px #FA4753;
    outline: none;
    border: solid 2px #FA4753; }
  .nav-search input::placeholder {
    color: white; }
  .nav-search i {
    color: white;
    margin: auto 14px;
    font-size: 23px; }

.nav-login {
  float: right; }
  .nav-login li a {
    margin: 17px 14px; }
    .nav-login li a i {
      font-size: 20px; }

.submenu a {
  color: white;
  display: inline;
  padding: 30px 40px; }

.submenu a:hover {
  color: white; }

.submenu li a {
  border-radius: 0px; }

.submenu li a:hover {
  background: none;
  box-shadow: none;
  border-bottom: solid #FA4753; }

.submenu ul {
  background-color: #17181c;
  border-radius: 10px; }

.dropdown-menu {
  position: relative; }
  .dropdown-menu span {
    color: white;
    font-weight: bold;
    margin: 18px 48px;
    display: flex;
    padding: 32px 40px;
    border-radius: 20px;
    transition: .4s all;
    cursor: pointer; }
  .dropdown-menu i {
    margin-left: 15px;
    margin-top: 3px; }
  .dropdown-menu ul {
    position: absolute;
    max-height: 0px;
    display: block;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
    background: #17181c;
    width: 100%;
    box-shadow: 1px 20px 20px black;
    transition: all 1s; }
  .dropdown-menu a {
    justify-content: center;
    border-radius: 0px 100px; }

.dropdown-menu span:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; }

.dropdown-menu:hover ul {
  max-height: 400px; }

.dropdown-menu a:hover {
  background: none;
  box-shadow: #26394d 0px 20px 30px -10px;
  background: black;
  color: white;
  background: url(https://i.pinimg.com/originals/7d/d6/85/7dd685045c0c6dc5546bdb63d5523797.png) black;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50%; }

.header-sub {
  border: none; }

.nav-sub {
  margin: 30px; }
  .nav-sub a {
    color: white;
    text-decoration: none;
    margin: 30px;
    font-size: 21px; }
    .nav-sub a i {
      margin-right: 8px; }
  .nav-sub a:hover {
    background: none;
    box-shadow: none;
    color: white;
    border-bottom: solid; }

@media screen and (max-width: 800px) and (min-width: 320px) {
  nav {
    width: 100%; }
    nav ul {
      font-size: 15px; }
    nav li a {
      margin: 18px 0px;
      padding: 32px 20px; }
  .dropdown-menu span {
    color: white;
    font-weight: bold;
    margin: 18px 0px;
    display: flex;
    padding: 32px 16px;
    border-radius: 20px;
    transition: .4s all;
    cursor: pointer;
    width: 100%;
    margin-left: 0px; }
  .dropdown-menu a:hover {
    background-size: 40%; } }

@media screen and (min-width: 801px) and (max-width: 1200px) {
  nav {
    width: 100%; }
    nav ul {
      font-size: 15px; }
    nav li a {
      margin: 18px 0px; }
  .dropdown-menu li {
    padding: 20px; }
  .dropdown-menu ul:hover {
    max-height: 500px; }
  .dropdown-menu a:hover {
    background-size: 30%; } }

.container-portada {
  color: white; }
  .container-portada article {
    height: 600px;
    overflow: hidden; }
  .container-portada img {
    width: 100%; }
  .container-portada h2 {
    display: inline-block;
    font-size: 31px;
    margin: 61px 35px; }
  .container-portada p {
    width: 72%;
    font-size: 24px;
    display: inline-block;
    margin: 15px 35px; }
  .container-portada a {
    text-decoration: none;
    color: white;
    font-size: 21px;
    display: flex;
    float: right;
    justify-content: end; }
  .container-portada button {
    padding: 21px 66px;
    background: #FA4753;
    text-decoration: none;
    border-radius: 20px;
    border: none;
    box-shadow: black 0px 20px 30px -10px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 46px;
    margin-top: 50px;
    transition: .4s all; }
  .container-portada button:hover {
    color: white;
    opacity: 90%; }
  .container-portada button:active {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; }

.info-portada {
  box-shadow: 0px 5px 46px black; }

.container-productos {
  margin-bottom: 47px; }
  .container-productos h2 {
    color: white;
    margin: 45px 35px;
    margin-bottom: 30px; }
  .container-productos a {
    width: 312px;
    display: inline-block;
    margin: 0px 34px;
    transition: .4s all; }
    .container-productos a img {
      width: 100%;
      border-radius: 10px;
      box-shadow: 5px 4px 10px black; }
  .container-productos a:hover {
    transform: scale(1.02);
    opacity: 80%; }

.container-button {
  display: flex; }
  .container-button a {
    margin: 136px 31px;
    background: #FA4753;
    padding: 40px 99px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 black;
    transition: .5s all; }
  .container-button a:hover {
    color: black;
    opacity: 90%; }

.container-button a:nth-child(2) {
  background: none;
  border: solid #FA4753; }

.container-serie h2 {
  color: white;
  margin: 30px 30px; }

.container-serie iframe {
  margin: 0px 28px;
  width: 824px;
  border-radius: 20px;
  height: 465px; }

.container-serie p {
  color: white;
  font-size: 24px;
  margin: 10px 30px; }

.button-subs {
  position: fixed;
  background: #FA4753;
  display: flex;
  padding: 27px 50px;
  right: 47px;
  font-weight: bold;
  box-shadow: 10px 10px 10px black;
  bottom: 33px;
  border-radius: 19px;
  text-decoration: none;
  color: black;
  font-size: 17px;
  transition: 1s all; }

.button-subs:hover {
  transform: scale(1.04);
  color: white; }

@media screen and (min-width: 320px) and (max-width: 800px) {
  .container-portada article {
    height: 100%; }
  .info-portada {
    height: 123px; }
    .info-portada h2 {
      font-size: 14px; }
    .info-portada p {
      font-size: 14px;
      width: 100%; }
    .info-portada button {
      font-size: 10px;
      padding: 12px 24px;
      border-radius: 10px; }
  .container-productos h2 {
    margin: 23px 15px;
    font-size: 14px; }
  .container-productos a {
    width: 154px;
    margin: 0px 15px; } }

@media screen and (min-width: 801px) and (max-width: 1200px) {
  .container-portada article {
    height: 100%; }
  .container-portada h2 {
    font-size: 25px; }
  .container-portada p {
    font-size: 20px; }
  .container-portada button {
    font-size: 15px; }
  .container-productos h2 {
    font-size: 20px;
    margin: 45px 15px; }
  .container-productos a {
    width: 180px;
    margin: 0px 15px; } }

.main-login {
  background: url(https://i.ytimg.com/vi/lTRiuFIWV54/maxresdefault.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex; }

.container-form {
  padding: 85px;
  display: block;
  background-color: #1a1b1f;
  margin: 34px 28em;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;
  border-top: solid 4px #FA4753;
  border-bottom: solid 4px #FA4753;
  color: white; }
  .container-form h2 {
    display: flex;
    padding: 24px;
    color: white;
    justify-content: center; }
  .container-form div {
    display: flex;
    justify-content: center; }
    .container-form div a {
      margin: 17px;
      font-size: 43px;
      transition: .5s; }
    .container-form div a:hover {
      color: #FA4753;
      transform: rotateZ(-10deg);
      text-shadow: 0 0 10px #FA4753, 0 0 40px #FA4753, 0 0 80px #FA4753; }
  .container-form form {
    margin-top: 50px; }
  .container-form label {
    color: white;
    margin: 64px 11px;
    cursor: pointer;
    font-size: 20px; }
  .container-form input {
    margin: 22px 0px;
    background-color: #FA4753;
    width: 444px;
    height: 40px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 50px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: none;
    border-radius: 10px; }
  .container-form input:hover {
    border: none;
    background-color: #FA4753; }
  .container-form input:focus {
    outline: none;
    box-shadow: 0 0 10px #FA4753, 0 0 40px #FA4753, 0 0 80px #FA4753;
    border: solid 2px #FA4753; }
  .container-form a {
    color: lightgray;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 26px;
    transition: .5s all; }
  .container-form a:hover {
    color: white; }
  .container-form button {
    padding: 18px 43px;
    color: lightgray;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    margin: auto;
    font-size: 20px;
    display: flex;
    background-color: #FA4753;
    transition: .4s all; }
  .container-form button:hover {
    color: white;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; }
  .container-form button:active {
    transform: scale(0.5); }

@media screen and (max-width: 800px) and (min-width: 320px) {
  .container-form {
    margin: auto;
    margin: 39px auto;
    padding: 30px; }
    .container-form h2 {
      font-size: 17px; }
    .container-form label {
      font-size: 17px; }
    .container-form input {
      padding: 11px 30%; } }

@media screen and (min-width: 801px) and (max-width: 1200px) {
  .container-form {
    margin: auto;
    margin: 46px auto;
    padding: 30px; } }

.main-contacto {
  background: url(https://wallpaperaccess.com/full/3720574.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.container-contact {
  padding: 25px 211px;
  margin: auto; }
  .container-contact h2 {
    color: white;
    font-size: 32px;
    display: flex;
    margin: 20px 0px;
    justify-content: center; }
  .container-contact p {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white; }
  .container-contact div {
    border-top: solid gray 1px;
    display: table; }
    .container-contact div button {
      margin: 10px 0px;
      padding: 24px 65px;
      margin-right: 40px;
      background: #FA4753;
      color: white;
      font-size: 20px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      transition: .4s all;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; }
    .container-contact div button:nth-child(2) {
      background: #17181c; }
    .container-contact div button:hover {
      transform: scale(1.05); }
    .container-contact div button:active {
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; }

.contact-form {
  background: url(https://wallpaperaccess.com/full/2128630.jpg) #17181c;
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 38%;
  margin: 60px;
  box-shadow: 0px 0px 20px 8px black;
  padding: 25px 32px;
  border-radius: 10px; }
  .contact-form label {
    color: white;
    display: block;
    font-size: 20px; }
  .contact-form input {
    width: 481px;
    height: 60px;
    margin: 20px 0px;
    border: solid #FA4753;
    color: white;
    font-size: 20px;
    padding-left: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
    background: none; }
    .contact-form input:focus {
      outline: none;
      box-shadow: 0 0 10px #FA4753, 0 0 20px #FA4753, 0 0 20px #FA4753; }
    .contact-form input::placeholder {
      font-weight: bold; }
  .contact-form textarea {
    background: none;
    width: 481px;
    outline: none;
    height: 184px;
    font-size: 20px;
    color: white;
    border: solid #FA4753;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin: 20px 0px;
    border-radius: 10px;
    padding: 12px;
    resize: none; }
    .contact-form textarea:focus {
      outline: none; }
    .contact-form textarea::placeholder {
      font-weight: bold; }
    .contact-form textarea:focus {
      box-shadow: 0 0 10px #FA4753, 0 0 20px #FA4753, 0 0 20px #FA4753; }
    .contact-form textarea::-webkit-scrollbar {
      width: 25px;
      transition: .4s all;
      border-radius: 10px;
      background: #17181C; }
    .contact-form textarea::-webkit-scrollbar-thumb {
      background: #FA4753;
      height: 30%;
      border-radius: 20px;
      transition: 1s all;
      border: solid 8px #17181c; }

.main-sub {
  background-color: #17181C; }
  .main-sub h1 {
    color: white;
    display: flex;
    margin-top: 30px;
    justify-content: center; }
  .main-sub p {
    color: white;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px; }

.section-sub {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px; }
  .section-sub div {
    background-color: #1A1B1F;
    width: 345px;
    margin: 20px;
    height: 596px;
    margin: auto;
    margin-top: 43px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px #000000; }
    .section-sub div div {
      background: #FA4753;
      height: 167px;
      display: inline-block;
      margin: auto;
      border-radius: 10px 10px 0px 0px;
      box-shadow: none; }
      .section-sub div div h3 {
        color: white;
        font-size: 36px;
        text-align: center;
        margin-top: 20px; }
      .section-sub div div p {
        color: white;
        font-size: 32px;
        text-align: center;
        font-weight: 400; }
    .section-sub div .container-ventajas {
      background: none;
      height: auto; }
      .section-sub div .container-ventajas p {
        font-size: 20px;
        display: flex;
        justify-content: start;
        margin: 38px 33px; }
        .section-sub div .container-ventajas p i {
          margin-right: 5px; }
  .section-sub button {
    padding: 20px 53px;
    display: flex;
    margin: auto;
    background: #FA4753;
    border: none;
    box-shadow: 0px 0px 14px #000000;
    color: white;
    cursor: pointer;
    font-size: 18px;
    transition: .4s all; }
  .section-sub button:hover {
    transform: scale(1.05); }
  .section-sub button:active {
    transform: scale(1);
    background: none;
    border: solid 2px #FA4753; }

footer {
  height: 400px;
  background: #1a1b1f;
  border-top: solid 2px;
  box-shadow: inset 0px 4px 20px black; }
  footer h2 {
    color: white;
    display: flex;
    justify-content: center;
    margin: 43px 547px;
    border-bottom: solid 4px #FA4753; }
    footer h2 aside {
      color: #FA4753;
      margin-left: 10px; }
  footer ul {
    display: inline-flex;
    justify-content: left;
    flex-direction: column; }
    footer ul h3 {
      color: white;
      margin: auto;
      border-bottom: solid 3px #FA4753; }
    footer ul li {
      color: white;
      margin: 25px 37px;
      list-style-type: none;
      font-size: 20px; }
    footer ul i {
      margin-right: 10px;
      font-size: 25px; }

.redes-sociales {
  display: inline-flex;
  float: right; }
  .redes-sociales h3 {
    color: white;
    margin: 10px;
    margin-right: 30px;
    border-bottom: solid 3px #FA4753; }
  .redes-sociales i {
    color: white;
    font-size: 26px;
    transition: .4s color; }
  .redes-sociales i:hover {
    color: #FA4753; }

@media screen and (max-width: 800px) and (min-width: 320px) {
  footer {
    width: 100%; }
    footer h2 {
      margin: auto;
      border-bottom: none;
      margin-top: 17px; }
    footer h3 {
      font-size: 18px; }
    footer ul {
      margin: 42px 0px; }
      footer ul li {
        font-size: 18px; }
      footer ul i {
        font-size: 18px; }
  .redes-sociales i {
    font-size: 24px; } }

@media screen and (min-width: 801px) and (max-width: 1200px) {
  footer {
    width: 100%; }
    footer h2 {
      margin: auto;
      border-bottom: none;
      margin-top: 20px; } }
