header {
    border-bottom: solid $primary;
}

nav {

    ul {
        display: inline-flex;
        justify-content: center;
        h1 {
            display: inline-flex;
            align-items: center;
            color: white;
            margin: 35px 20px;
            
            aside {
                margin: 10px;
                color: #FA4753;
            }
        }

        // h1:before {
        //     border-bottom: solid $primary;
        //     content: "";
        //     left: 0px;
        //     position: absolute;
        //     transition: .5 all;
        //     transform: scaleX(0);
        // }
        
        // h1:hover:before {
        //     transform: scaleX(1);
        // }
    }
    
    li {
        color: white;
        text-decoration: none;
        list-style-type: none;
        border-radius: 20px;
        transition: .4s all;
        a {
            text-decoration: none;
            color: white;
            display: flex;
            padding: 32px 40px;
            font-weight: bold;
            margin: 18px 48px;
            transition: .4s all;
            border-radius: 20px;
            
        }
    }
    
    
    a:hover {
        background: #FA4753;
        transform: scale(1.05);
        box-shadow: 0 0 10px #FA4753, 0 0 40px #FA4753, 0 0 80px #FA4753;
        color: $secondary;
    }
    a:active {
        transform: scale(1.00);
    }
}



nav li:nth-child(4) {
    display: flex;
    justify-content: end;
}

.nav-search {
    
    
    padding: 20px 20px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: inline-block;
    margin: 47px 32px 0px;
    input {
        margin: auto;
        text-align-last: center;
        padding: 8px 0px;
        background: none;
        color: white;
        border-radius: 11px;
        font-size: initial;
        font-weight: bold;
        border: solid $primary;
        transition: .5s all;
        
    }

    input:focus {
        box-shadow: 0 0 10px #FA4753, 0 0 20px #FA4753, 0 0 20px #FA4753;
        outline: none;
        border: solid 2px $primary;


    }
    input::placeholder {
        color: white;
    }
    i {
        color: white;
        margin: auto 14px;
        font-size: 23px;
    }

    button:nth-child(3) {
        background: $primary;
        padding: 10px 35px;
        border: none;
        border-radius: 10px;
        margin: 0px 11px;
        font-size: 15px;
        cursor: pointer;
        box-shadow: 3px 4px 20px 0px black;       
        transition: .4s all ;
        color: white;

        &:hover {
            background-color: #73171d;
        }

        
    }
    button:nth-child(4) {
        background: $primary;
        padding: 10px;
        border: none;
        border-radius: 10px;
        margin: 0px 11px;
        font-size: 15px;
        cursor: pointer;
        box-shadow: 3px 4px 20px 0px black;       
        transition: .4s all ;
        color: white;
        
        &:hover {
            background-color: #73171d;
        }
    }
}

.nav-search input::-webkit-search-cancel-button {
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
    


}


.sin-resultados {
    margin: auto;
    display: flex;
    justify-content: center;
    p {
        color: white;

    }
}


.nav-login {
    float: right;




    li {
        a {
            margin: 17px 14px;
            i {
                font-size: 20px;
            }
        }
    }
}


// navegacion de categorias 



.submenu a {
    color: white;
    display: inline;
    padding: 30px 40px;
}

.submenu a:hover {
    color: white;
}

.submenu li a {
    border-radius: 0px;
}


.submenu li a:hover {
    background: none;
    box-shadow: none;
    border-bottom:  solid #FA4753;
}

.submenu ul {
    background-color: $secondary;
    border-radius: 10px;
}


.dropdown-menu {
    position: relative;

    span {
        color: white;
        font-weight: bold;
        margin: 18px 48px;
        display: flex;
        padding: 32px 40px;
        border-radius: 20px;
        transition: .4s all;
        cursor: pointer;
    }
    
    i {
        margin-left: 15px;
        margin-top: 3px;
    }

    ul {
        position: absolute;
        max-height: 0px;
        display: block;
        overflow: hidden;
        border-radius: 0px 0px 20px 20px;
        background: $secondary;
        width: 100%;
        box-shadow: 1px 20px 20px black;
        transition: all 1s;
    }

    a {
        justify-content: center;
        border-radius: 0px 100px;
    }

    
}

.dropdown-menu span:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.dropdown-menu:hover ul {
    max-height: 400px;
}



.dropdown-menu a:hover {
    background: none;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background: black;
    color: white;
    background: url(https://i.pinimg.com/originals/7d/d6/85/7dd685045c0c6dc5546bdb63d5523797.png) black;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50%;

}


.header-sub {
    border: none;
}

.nav-sub {
    margin: 30px;
    
    a {
        color: white;
        text-decoration: none;
        margin: 30px;
        font-size: 21px;
        i {
            margin-right: 8px;
        }
    }
    a:hover {
        background: none;
        box-shadow: none;
        color: white;
        border-bottom: solid ;
    }
    
}



@media screen and (max-width: 800px) and (min-width: 320px) {
    
    nav {
        width: 100%;
        ul {
            font-size: 15px;
        }
        li {
            a {
                margin: 18px 0px;
                padding: 32px 20px;
            }
        }

    
    }
    
    .dropdown-menu {
        span {
            color: white;
            font-weight: bold;
            margin: 18px 0px;
            display: flex;
            padding: 32px 16px;
            border-radius: 20px;
            transition: .4s all;
            cursor: pointer;
            width: 100%;
            margin-left: 0px;
        }
        
    
    }
    

    .dropdown-menu a:hover {
        background-size: 40%;
    }
}



@media screen and (min-width:801px) and (max-width:1200px) {
    nav {
        width: 100%;
        ul {
            font-size: 15px;
        }
        li {
            a {
                margin: 18px 0px;
            }
        }
    }

    .dropdown-menu {
        li {
            padding: 20px;
        }


    }

    .dropdown-menu ul:hover {
        max-height: 500px;
    }
    .dropdown-menu a:hover {
        background-size: 30%;
    }
    
    
}