.container-portada {
    color: white;
    article {
        height: 600px;
        overflow: hidden;
    }
    img {
        width: 100%;
    }

    h2 {
        display: inline-block;
        font-size: 31px;
        margin: 61px 35px;
    }
    p {
        width: 72%;
        font-size: 24px;
        display: inline-block;
        margin: 15px 35px;
    }
    a {
        text-decoration: none;
        color: white;
        font-size: 21px;
        display: flex;
        float: right;
        justify-content: end;
    }
    
        button {
            padding: 21px 66px;
            background: #FA4753;
            text-decoration: none;
            border-radius: 20px;
            border: none;
            box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;            
            font-weight: bold;
            cursor: pointer;
            margin-right: 46px;
            margin-top: 50px;
            transition: .4s all;
        }
    

    button:hover {
        color: white;
        opacity: 90%;
    }

    button:active {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
}

.info-portada {

    box-shadow: 0px 5px 46px black;
}

.series-css {
    a {
        display: inline-block;
        width: 292px; 
        margin: 0px 35px;
        border-radius: 10px;
        transition: .4s all;
        img {
            border-radius: 10px;
            width: 100%;
            box-shadow: 7px 5px 11px black;
        }
    
    }
}

.container-productos {
    
    margin-bottom: 47px;
    h2 {
        color: white;
        margin: 45px 35px;
        margin-bottom: 30px;
    }

    
}

#container-series {
    display: flex;
    flex-wrap: wrap;
}

#series-nuevas {
    display: flex;
}


.container-button {
    display: flex;
    a {
        margin: 136px 31px;
    background: #FA4753;
    padding: 40px 99px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 black;
    transition: .5s all;
    

}
    a:hover {
        color: black;
        opacity: 90%;

    }
}

.container-button a:nth-child(2) {
    background: none;
    border: solid $primary;
}

.container-serie {

    h2 {
        color: white;
        margin: 30px 30px;
    }

    iframe {
        margin: 0px 28px;
        width: 824px;
        border-radius: 20px;
        height: 465px;
    }

    p {
        color: white;
        font-size: 24px;
        margin: 10px 30px;

    }
}
#boton-suscribirse {
    transition: 1s all;
    
}


.button-subs {
    position: fixed;
    background: $primary;
    display: flex;
    padding: 27px 50px;
    right: 47px;
    font-weight: bold;
    box-shadow: 10px 10px 10px black;
    bottom: 33px;
    border-radius: 19px;
    text-decoration: none;
    color: black;
    font-size: 17px;
    transition: 1s all;
    i {
        transition: 1s all;

        &:hover {
            transform: rotateZ(-10deg);
        }
    }
}


.button-subs:hover {
    transform: scale(1.04);
    color: white;
    
}

.card {
    width: 300px;
    margin: 0px 35px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;    
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: .4s all;


    h3 {
        padding: 25px 20px 0px,
    }

    p {
        padding: 6px 20px;
        margin: 13px 13px;
        border-radius: 25px;
        display: inline-block;
        border: solid;

    }
    img {
        border-radius: 10px 10px 10px 0px;
        box-shadow: none;
        width: 100%;

    }
    &:hover {
        transform: scale(1.02);

    }

    i {
        font-size: 23px;
        display: inline;
        vertical-align: text-top;
        margin-left: 106px;
    }
}
@media screen and (min-width:320px) and (max-width: 800px) {
    .container-portada {
        article {
            height: 100%;
        }


    }
    
    .info-portada {
        height: 123px;
        
        h2 {
            font-size: 14px;
        
        }
    
    
        p {
            font-size: 14px;
            width: 100%;
        }
    
        button {
            font-size: 10px;
            padding: 12px 24px;
            border-radius: 10px;
        }
    }

    .container-productos {
        h2 {
            margin: 23px 15px;
            font-size: 14px;
        }
    
        a {
            width: 154px;
            margin: 13px 15px;
        }
}
}


@media screen and (min-width: 801px) and (max-width:1200px)  {

    .container-portada {
        article {
            height: 100%;
            
        }

        h2 {
            font-size: 25px;
        }

        p {
            font-size: 20px;
        }

        button {
            font-size: 15px;
            
        }

    }

    
    .container-productos {
    
        h2 {
            font-size: 20px;
            margin: 45px 15px;
        }
    
        a {
            width: 180px;
            margin: 0px 15px;
        }
    }
}