.container-portada {
    color: white;
    article {
        height: 600px;
        overflow: hidden;
    }
    img {
        width: 100%;
    }

    h2 {
        display: inline-block;
        font-size: 31px;
        margin: 61px 35px;
    }
    p {
        width: 72%;
        font-size: 24px;
        display: inline-block;
        margin: 15px 35px;
    }
    a {
        text-decoration: none;
        color: white;
        font-size: 21px;
        display: flex;
        float: right;
        justify-content: end;
    }
    
        button {
            padding: 21px 66px;
            background: #FA4753;
            text-decoration: none;
            border-radius: 20px;
            border: none;
            box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;            
            font-weight: bold;
            cursor: pointer;
            margin-right: 46px;
            margin-top: 50px;
            transition: .4s all;
        }
    

    button:hover {
        color: white;
        opacity: 90%;
    }

    button:active {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
}

.info-portada {

    box-shadow: 0px 5px 46px black;
}

.series-css {
    a {
        display: inline-block;
        width: 292px; 
        margin: 0px 35px;
        border-radius: 10px;
        transition: .4s all;
        img {
            border-radius: 10px;
            width: 100%;
            box-shadow: 7px 5px 11px black;
        }
    
    }
}

.container-productos {
    
    margin-bottom: 47px;
    h2 {
        color: white;
        margin: 45px 35px;
        margin-bottom: 30px;
        border-bottom: solid #FA4753;
        padding: 10px 0px;
    }

    
}

#container-series {
    display: flex;
    flex-wrap: wrap;
}

#series-nuevas {
    display: flex;
}


.container-button {
    display: flex;
    a {
        margin: 136px 31px;
    background: #FA4753;
    padding: 40px 99px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 black;
    transition: .5s all;
    

}
    a:hover {
        color: black;
        opacity: 90%;

    }
}

.container-button a:nth-child(2) {
    background: none;
    border: solid $primary;
}

.container-serie {

    h2 {
        color: white;
        margin: 30px 30px;
    }

    iframe {
        margin: 0px 28px;
        width: 824px;
        border-radius: 20px;
        height: 465px;
    }

    p {
        color: white;
        font-size: 24px;
        margin: 10px 30px;

    }
}
#boton-suscribirse {
    transition: 1s all;
    
}


.button-subs {
    position: fixed;
    background: $primary;
    display: flex;
    padding: 27px 50px;
    z-index: 1;
    right: 47px;
    font-weight: bold;
    box-shadow: 10px 10px 10px black;
    bottom: 33px;
    border-radius: 19px;
    text-decoration: none;
    color: black;
    font-size: 17px;
    transition: 1s all;
    i {
        transition: 1s all;

        
    }
}


.button-subs:hover {
    transform: scale(1.04);
    color: white;
    
}

.card {
    width: 300px;
    margin: 0px 35px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;    
    color: white;
    // border-radius: 20px;
    cursor: pointer;
    transition: .4s all;
    margin-bottom: 30px;


    h3 {
        margin: 8px 33px 0px 17px;
        
    }

    p {
        padding: 6px 20px;
        margin: 13px 0px;
        border-radius: 25px;
        display: inline-block;

    }
    img {
        // border-radius: 10px 10px 0px 0px;
        box-shadow: none;
        width: 100%;
        transition: .5s transform;
        
            &:hover {
                transform: scale(1.05);
                // opacity: 80%;
                }

    }
    // &:hover {
    //     transform: scale(1.02);
    // }

    i {
        font-size: 23px;
        display: inline;
        vertical-align: text-top;
        margin-left: 106px;
    }
}


.imagen-card {
    overflow: hidden;
    transition: .5s all;
    // border-radius: 20px 20px 0px 0px;
    // &:hover {
    //     opacity: 60%;
    // }
    // &:hover {
    //     transform: scale();
    // }
}


.añadir-favorito {
    display: inline-flex;
    border-radius: 10px;
    color: gray;
    cursor: pointer;
    border: none;
    float: right;
    background: none;
    transition: .5s all;
    margin: 16px 24px;
    i{
        margin: 0px;
        background: none;
    }
    &:hover {
        color: white;
    }

}

#boton-favoritos {
    position: fixed;
    display: flex;
    z-index: 1;
    right: 285px;
    color: $primary;
    text-shadow: 1px 1px 20px black;
    font-size: 50px;
    bottom: 44px;
    cursor: pointer;
    transition: .5s all;
    background: none;
    border: none;
    &:hover {
        transform: scale(1.05);
    }
    
    span {
        color: white;
        position: absolute;
        bottom: 30px;
        left: 37px;
        font-size: 30px;
    }
}


#contenedor-favorito{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    z-index: 1;


    div {
        background: $secondary;
        width: 30%;
        border-radius: 20px;
        z-index: 1;
        box-shadow: 1px 0px 20px 7px black;
        height: 400px;
        position: fixed;
        left: 20px;
        overflow: hidden;
        overflow-y: scroll;
            &::-webkit-scrollbar{
                width: 25px;
                transition: .4s all;
                border-radius: 10px;
                background: #17181C;
            }
            &::-webkit-scrollbar-thumb {
                background: #262949;
                height: 30%;
                border-radius: 20px;
                transition: 1s all;
                border: solid 8px #17181c;
                &:hover {
                    background: #1e2030;
                }
            }

            article {
                width: 100px;
                    img {
                        width: 100%;
                    }
            }
            .img-contenedor {
                width: 138px;
                display: flex;
                transform: rotateZ(133deg);
                margin: 0px 1px 11px 0px;
            }
            .contenedor-botones {
                box-shadow: none;
                height: auto;
                display: flex;
                position: absolute;
                left: 0px;
                margin: 84px auto 20px;
                width: 100%;
            }
            
        
    }
    .btn-cerrar {
        border: none;
        padding: 13px 35px;
        margin: 10px;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        margin: 40px auto 25px;
        background-color: $primary;
        color: white;
        transition: 1s all;
        box-shadow: 0px 0px 17px 0px black;
        
    }

    // section:nth-last-child(2) {
    //     display: inline-flex;
    //     height: auto;
    //     box-shadow: none;
    //     color: white;
    //     border-bottom: solid;
    //     border-radius: 0px;
    //         h5 {
    //             display: flex;
    //         align-items: center;
    //         margin: 0px 24px;
    //         font-weight: normal;
    //         font-size: 17px;
    //         }
    //         p {
    //             display: flex;
    //             align-items: center;
    //             margin: 0px 17px;
    //         }
    //         img {
    //             border-radius: 10px;
    //         }
    // }
    
}

.contenedor-series2 {
    
        display: flex;
        height: auto;
        margin: 10px auto 20px;
        box-shadow: none;
        color: white;
        transition: .5s all;
        border-radius: 20px;
        width: 90%;
        cursor: pointer;
        &:hover {
            transform: scale(1.03);
            background: #262949;
        }
            h5 {
                display: flex;
            align-items: center;
            margin: 0px 24px;
            font-weight: normal;
            font-size: 17px;
            }
            p {
                display: flex;
                align-items: center;
                margin: 0px 17px;
            }
            article{
                display: flex;
                margin-top: auto;
                transition: .5s all;
                img {
                    border-radius: 10px 0px 0px 10px;
                    
                }
            }

        button {
            background: none;
            border: none;
            font-size: 17px;
            right: 8px;
            margin: 0px 25px;
            color: white;
            cursor: pointer;
        }
    
}

// .img-contenedor img{
//     width: 138px;
//     display: flex;
//     transform: rotateZ(133deg);
//     margin: 0px 1px 11px 0px;
// }

.p-contenedor {
    color: white;
    display: flex;
    justify-content: center;
}




@media screen and (min-width:320px) and (max-width: 800px) {
    .container-portada {
        article {
            height: 100%;
        }


    }
    
    .info-portada {
        height: 123px;
        
        h2 {
            font-size: 14px;
        
        }
    
    
        p {
            font-size: 14px;
            width: 100%;
        }
    
        button {
            font-size: 10px;
            padding: 12px 24px;
            border-radius: 10px;
        }
    }

    .container-productos {
        h2 {
            margin: 23px 15px;
            font-size: 14px;
        }
    
        a {
            width: 154px;
            margin: 13px 15px;
        }
}
}


@media screen and (min-width: 801px) and (max-width:1200px)  {

    .container-portada {
        article {
            height: 100%;
            
        }

        h2 {
            font-size: 25px;
        }

        p {
            font-size: 20px;
        }

        button {
            font-size: 15px;
            
        }

    }

    
    .container-productos {
    
        h2 {
            font-size: 20px;
            margin: 45px 15px;
        }
    
        a {
            width: 180px;
            margin: 0px 15px;
        }
    }
}