.main-sub {
    background-color: #17181C;
    h1 {
        color: white;
        display: flex;
        margin-top: 30px;
        justify-content: center;
        
    }
    p {
        color: white;
        display: flex; 
        justify-content: center;
        margin: auto;
        margin-top: 10px;
    }

}


.section-sub {
    display: flex; 
    flex-wrap: wrap;
    margin-bottom: 25px;

    div {
        background-color: #1A1B1F;
        width: 345px;
        margin: 20px;
        height: 596px;
        margin: auto;
        margin-top: 43px;
        border-radius: 10px;
        box-shadow: 0px 0px 25px #000000;

        div {
            background: $primary;
            height: 167px;
            display: inline-block;
            margin: auto;
            border-radius: 10px 10px 0px 0px;
            box-shadow: none;

            h3 {
                color: white;
                font-size: 36px;
                text-align: center;
                margin-top: 20px;
            }

            p {
                color: white;
                font-size: 32px;
                text-align: center;
                font-weight: 400;
            }
        }

    .container-ventajas {
        background: none;
        height: auto;

        p {
            font-size: 20px;
            display: flex;
            justify-content: start;
            margin: 38px 33px;
            i {
                margin-right: 5px;
            }
        }
    }    
    }

    button {
        padding: 20px 53px;
        display: flex;
        margin: auto;
        background: $primary;
        border: none;
        box-shadow: 0px 0px 14px #000000;
        color: white;
        cursor: pointer;
        border-radius: 10px;
        font-size: 18px;
        transition: .4s all;

        &:hover {
            background-color: #401518;
        }
    }
    

}

.boton-cancelar {
    display: none;
}

#confirmar-sub {
    display: flex; 
    justify-content: center;
    position: absolute;
    margin: auto;
    width: 100%;
    
    button:nth-child(2) {
        display: flex;
        position: absolute;
    }
    
    div {
        box-shadow: 0px 1px 18px 8px black;
        border-top: solid 5px $primary;
        width: 45%;
        padding: 40px 53px;
        border-radius: 20px;
        background-color: #17181C;
        color: white;
        h3 {
            color: white;
            display: flex;
            justify-content: center;
            margin: 19px 0px ;
            font-weight: none;
        }

        p {
            font-size: 20px;
        }
        p:nth-child(3) {
            margin: 48px 94px;
        }

        p:nth-last-of-type(1) {
            display: inline-flex;

        }
        button {
            display: inline-flex;
            margin: 0px 45px;            
            font-size: 20px;
            padding: 22px 54px;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
            background: $primary;
            color: white;
            cursor: pointer;
            margin-top: 10%;
            border: none;
            transition: .4s all;
            &:hover {
                background: #401518;

            }
        }
        .contenedor-dolar {
            box-shadow: none;
            border: none;
            margin: auto;
            font-size: 26px;
            display: inline-flex;
            justify-content: center;
            height: auto;
            font-weight: 0;
            padding: initial;
            font-family: Arial, Helvetica, sans-serif;
            width: 100%;
        }

        // input {
        //     display: inline-flex;
        //     justify-content: flex-start;
        //     margin-left: 47px;
        //     width: 30px;
        //     height: 20px;
        // }

        button:nth-child(5) {
            background-color: $secondary;
            transition: .4s all;
            &:hover {
                box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
            }
        }
    }
}

.cancelar-sub {
    width: 2%;
    position: absolute;
    margin: 12px;
    right: 407px;
    height: 29px;
    background: none;
    border: none;
    font-size: 20px;
    transition: .5s all;
    color: white;
    cursor: pointer;
    i {
        transition: .4s all;
        &:hover {
            text-shadow: 0 0 10px #FA4753, 0 0 40px #FA4753, 0 0 80px #FA4753;;
    
        }
    }
    
}


.info-sub {
    background: #D31027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EA384D, #D31027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EA384D, #D31027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0px 0px 20px 0px black;
}


.swal2-popup {
    background: #000000;

}
